* { 
    margin: 0;
    padding: 0;
    font-size: 1.5625vw;
}

html,body{
    height: 100%;
}

body{
    overflow: hidden;
}

/*
* Music Part
*/
.music{
    position: fixed;
    top:3vh;
    right: 4vw;
    z-index: 5;
    width: 15vw;
    height: 15vw;
    border: 4px solid #ef1639;
    border-radius: 50%;
    background: #fff;
}

.music > img:first-of-type{
    position: absolute;
    top:24%;
    right: 2.5%;
    width: 28.421%;
    z-index: 1;
}

.music > img:last-of-type{
    position: absolute;
    top:0;
    bottom: 0;
    left:9%;
    margin: auto;
    width: 79%;
}

/*
* Page bg
*/

.page{
    position: absolute;
    width: 100%;
    height: 100%;
}

.page > .bg{
    position: absolute;
    width: 100%;
    height: 100%;
}

/* page1 */
#page1{
    display: block;
}
#page1 > .bg{
    background: url('../img/p1_bg.jpg') no-repeat center center;
    background-size: 100%;
}

#page1 > .p1_lantern{
    position: absolute;
    top:-3.4%;
    right: 0;
    left: 0;
    margin: auto;
    background: url('../img/p1_lantern.png') no-repeat center bottom;
    background-size: 100%;
    width: 45vw;
    height: 71.2vh;
    font-size: 3.506rem;
    padding-top: 31vh;
    text-align: center;
    box-sizing: border-box;
}

#page1 > .p1_lantern:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    content: '';
    margin: auto;
    width: 30vw;
    height: 30vw;
    background: #d60b3b;
    opacity: .5;
    border-radius: 50%;
    box-shadow: 0 0 10vw 10vw #d60b3b;
}

#page1 > .p1_imooc{
    position: absolute;
    right: 0;
    bottom: 9vh;
    left: 0;
    background: url('../img/p1_imooc.png') no-repeat center center;
    background-size: 100%;
    width: 27.656vw;
    height: 18.63vh;
    margin: auto;
}

#page1 > .p1_words{
    font-size: 2.134rem;
    position: absolute;
    right: 0;
    bottom: 48px;
    left: 0;
    text-align: center;
    color: #231815;
}

/* page2 */
#page2{
    display: none;
}



#page2 > .bg{
    background: url('../img/p2_bg.jpg') no-repeat center center;
    background-size: 100%;
}

#page2 > .p2_circle{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: url('../img/p2_circle_middle.png') no-repeat center center;
    background-size: 100%;
    width: 59.375vw;
    height: 59.375vw;
}

#page2 > .p2_circle:before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    margin: auto;
    width: 45.625vw;
    height: 45.625vw;
    background: url('../img/p2_circle_inner.png') no-repeat center center;
    background-size: 100%;
}

#page2 > .p2_circle:after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    margin: auto;
    width: 39.9375vw;
    height: 39.9375vw;
    background: url('../img/p2_circle_outer.png') no-repeat center center;
    background-size: 100%;
    border-radius: 50%;
}

#page2 > .p2_2016 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 27.5vw;
    height: 6.24vh;
    background: url('../img/p2_2016.png') no-repeat center center;
    background-size: 100%;
}


/* page3 */
#page3{
    display: none;
}
#page3 > .bg{
    background: url('../img/p3_bg.jpg') no-repeat center center;
    background-size: 100%;
}
#page3 > .p3_logo{
    width: 34.6875vw;
    height: 6.327vh;
    position: absolute;
    top:7.82vh;
    right: 0;
    left: 0;
    margin: auto;
    background: url('../img/p3_logo.png') no-repeat center center;
    background-size: 100%;
}

#page3 > .p3_title{
    width: 48.125vw;
    height: 50vh;
    position: absolute;
    top:21vh;
    right: 0;
    left: 0;
    margin: auto;
    background: url('../img/p3_title.png') no-repeat center center;
    background-size: 100%;
}

#page3 > .p3_second{
    width: 22.8125vw;
    height: 41.652vh;
    position: absolute;
    top:25.48vh;
    left: 3.75vw;
    background: url('../img/p3_couplet_second.png') no-repeat center center;
    background-size: 100%;
}

#page3 > .p3_first{
    width: 22.8125vw;
    height: 41.652vh;
    position: absolute;
    top:25.48vh;
    right: 3.75vw;
    background: url('../img/p3_couplet_first.png') no-repeat center center;
    background-size: 100%;
}

#page3 > .p3_blessing{
    width: 32vw;
    height: 32vh;
    position: absolute;
    bottom:1vh;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
    background: url('../img/p3_blessing.png') no-repeat center center;
    background-size: 100%;
}

/* 动画效果*/


/*碟片旋转特效*/
.music > img.play{
    animation: music_disc 4s linear infinite;
}
@keyframes music_disc{
    0% {
        transform: rotate(0deg)
    }

    100%{
        transform: rotate(360deg)
    }
}

/*灯笼特效*/
#page1 > .p1_lantern:before {
    animation: p1_lantern .9s infinite alternate;
}
 @keyframes p1_lantern{
     0%{
         opacity: .1;
         transform: scale(.8 .8)
     }

     100%{
         opacity: .8;
     }
 }

 /*第二页圈圈特效*/

 #page2 > .p2_circle:after{
     animation: p2_circle_inner 7s linear 1s infinite;
 } 
 @keyframes p2_circle_inner{
        0%{
            transform: rotate(0deg)
        }

        100%{
            transform: rotate(-1080deg)
        }
 }

  #page2 > .p2_circle:before{
     animation: p2_circle_middle 8s linear 2s infinite;
 } 
 @keyframes p2_circle_middle{
        0%{
            transform: rotate(0deg)
        }

        100%{
            transform: rotate(1080deg)
        }
 }

 #page2{
     transition: .5s ;
 }

 #page2 > .p2_bg_loading{
     z-index: 4;
     background: #ef1639;
     animation: p2_bg_loading 1s linear forwards;
 }
 @keyframes p2_bg_loading{
     0%{
         opacity: 1;
     }
     100%{
         opacity: 0;
     }
 }

 #page2.fadeOut{
    opacity: .3;
    transform: translate(0,-100%);
}

 /*第三页特效*/
 #page3 > .p3_blessing{
     animation: p3_blessing 5s linear infinite;
 }
 @keyframes p3_blessing{
     0%{
         transform: rotate(0deg)
     }

     100%{
         transform: rotate(1080deg)
     }
 }

 #page3{
     transition: .5s;
 }

 #page3.fadeIn{
     transform: translate(0,-100%);
 }